@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;
body{
     background-image: url("study.jpg");
	
	overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
p{
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: floralwhite;
	letter-spacing: 1px;
	font-weight: 500;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 

}
h2{
    font-family: 'Poppins', sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: white;
	letter-spacing: 1px;
	font-weight: 500;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.form-group { 
    width: 550px; 
    height: 450px; 
    margin: 60px auto; 
    position:relative; 
    background: rgba(0,0,0,0.3); 
    text-align: center; 
    margin-top: 60px;
    padding: 35px; 
    border: 3px solid #fff; 
    -webkit-border-radius:70px 0 70px 0; ;
    -moz-border-radius:70px 0 70px 0; ;
    border-radius:70px 0 70px 0; 
    
}
.from-group p {
    text-align: left;
    color: #fff;
    background-color: white;
    text-transform: uppercase; 
    font-weight: bold;
    
}
input{ 
width: 100%; 
    height: 50px; 
    border-radius:15px 0 15px 0; 
    border: 2px solid #fff; 
    margin-bottom: 15px; 
    background-color:transparent; 
    color: #fff;

}

input .custom-radio{ 
    display: inline-block;
    font-weight: bold;

}
.form-group .login-button { 
    display: inline-block; 
    height:40px; 
    width:150px; 
   
    position:relative; 
    text-align: center; 
    background:transparent; 
    margin-top:20px; 
    cursor:pointer;
    

}

.form-group .login-button:hover{
   
    position:relative; 
    background: rgba(0,0,0,0.3); 
    
  
   
}

.form-group .g-recaptcha { 
    
text-align: center; 
    display: block;
position:relative; 


}




h5
{
    font-family: 'Poppins', sans-serif; 
    color:indianred;
}
.form-group .container{
   display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input { 
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
img { 
    position: relative
}

.table-users h1 {
  object-position: center;
   position: sticky;
    position:relative;
    align-content: center;
  font-family: 'Poppins', sans-serif;
     text-align: center;
     display: block;
     overflow: hidden;
    color:maroon;
}

 .add-user{
    object-position: center;
     position: sticky;
    
     align-content: center;
    font-family: 'Poppins', sans-serif;
     text-align: center;
     display: block;
     overflow: hidden;
    color:mediumvioletred;
}
.table-users table {
    font-family: 'Poppins', sans-serif;
   border-collapse: collapse;
   border-spacing: 0;
    border: 1px solid darken($baseColor, 5%);
   border-radius: $borderRadius;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
    align-content: center;
   width: 800px;
   
   
}
th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

span { 
color:white;
font-family: 'Poppins', sans-serif;
}

label {
    color:black;
    font-family: 'Poppins', sans-serif;
}


/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}



container:hover input~ { 
background-color:white;
}
input[type="radio"]:checked + span {
	color: black;
  background-color: whitesmoke;
 
}

i
}
input[type="radio"]:focus + span {
	color:tomato;
}


.add-user-button{
 
  padding: 16px 20px;
  font-family: 'Poppins', sans-serif; 
  background-color:darkcyan;
  color:aliceblue;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  width:400px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 5px;
  background-color: white;
  align-content: center;
  align-items: center;
    font-family: 'Poppins', sans-serif; 
    text-align: center; 
    margin-top: 35px;
    padding: 35px; 
    border: 3px solid #fff; 
 
}


/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;

}
.edit_user_form {
  max-width: 300px;
  padding: 5px;
background-color:mintcream;
  align-content: center;
  align-items: center;
    font-family: 'Poppins', sans-serif; 
    text-align: left; 
    margin-top: 35px;
    padding: 35px; 
    border: 3px solid #fff; 
    position: relative;
       width: 550px; 
    height: 450px; 
    margin: 60px auto; 
  
    
    margin-top: 60px;
    padding: 35px; 
    border: 3px solid #fff; 
   
 
}

.edit_user_form .update_button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
 
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.edit_user_form input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.edit_user_form input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;

}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}



/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.edit_user_form {
    
    
}

.edit_user_form input, select, textarea{
    color: maroon;
    font-weight: 500;
    font-family: 'Poppins', sans-serif; 
}

.edit_user_form textarea:focus, input:focus {
    color: maroon;
    font-weight: 500;
}